//====================================================================================================
.footer {

	/* .footer__container */
	&__container {
		padding: 0;

		@media (min-width:$md3+px) {
			padding: 0 20px;
		}
	}

	/* .footer__wrapper */
	&__wrapper {
		display: flex;
		flex-direction: column;
		max-width: 1570px;
		width: 100%;
		background-color: $blueBackground;
		padding: 24px 20px;

		@media (min-width:$md3+px) {
			display: grid;
			grid-template: minmax(min-content, max-content) minmax(min-content, max-content) / minmax(min-content, max-content) minmax(min-content, max-content);
			grid-auto-rows: minmax(min-content, max-content);
		}

		@media (min-width:$md1+px) {
			padding: 36px 80px;
		}
	}

	/* .footer__logo */
	&__logo {
		order: 0;

		@media (min-width:$md3+px) {
			grid-column: 1/2;
			grid-row: 1/2;
		}
	}

	/* .footer__body */
	&__body {
		margin-top: 44px;
		order: 2;

		@media (min-width:$md3+px) {
			margin-top: 0;
			grid-column: 1/2;
			grid-row: 2/4;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	/* .footer__descr */
	&__descr {
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0.01em;
		color: #E6E6E6;

		@media (min-width:$md3+px) {
			margin-top: 20px;
		}
	}

	/* .footer__policy */
	&__policy {
		color: #EBEBEB;
		letter-spacing: 1px;
		text-decoration-line: underline;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		margin-top: 8px;
		display: block;

		@media (min-width:$md3+px) {
			color: #40A895;

		}
	}

	/* .footer__copyright */
	&__copyright {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: #E5E5E5;
		margin-top: 28px;

		@media (min-width:$md3+px) {
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 1px;
			color: #FFFFFF;
			margin-top: 32px;
		}
	}

	/* .footer__menubar */
	&__menubar {
		margin-top: 28px;
		order: 1;
		@include adaptiv-value("column-gap", 50, 20, 1);
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@media (min-width:$md3+px) {
			display: grid;
			grid-template: minmax(min-content, max-content) minmax(min-content, max-content) / minmax(min-content, max-content) minmax(min-content, max-content);
			grid-auto-rows: minmax(min-content, max-content);
			margin-top: 0;
			grid-column: 2/3;
			grid-row: 1/4;
			margin-left: 70px;
			position: relative;
			align-items: center;

			&:before {
				content: '';
				background: rgba(255, 255, 255, 0.2);
				width: 2px;
				height: 100%;
				position: absolute;
				left: -34px;
				top: 0;
				display: block;
			}
		}

		@media (min-width:$md1+px) {
			column-gap: 109px;
			margin-left: 123px;

			&:before {
				left: -54px;
			}
		}
	}

	/* .footer__phone */
	&__phone {
		display: none;

		@media (min-width:$md3+px) {
			display: flex;
			flex-direction: column;
			gap: 5px;
			font-size: 14px;
			line-height: 150%;
			grid-column: 1/2;
			grid-row: 1/2;

			a {
				font-weight: 600;
				font-size: 20px;
				line-height: 140%;
				color: $mainColor;
			}
		}
	}

	/* .footer__menu */
	&__menu {
		ul {
			display: flex;
			flex-direction: column;

			li~li {
				margin-top: 16px;
			}

			li {
				a {
					font-weight: 500;
					font-size: 14px;
					line-height: 17px;
					color: $mainColor;
					white-space: nowrap;

					@media (min-width:$md3+px) {
						font-size: 18px;
						line-height: 22px;
					}
				}
			}
		}

		@media (min-width:$md3+px) {
			margin-top: 40px;
			grid-column: 1/2;
			grid-row: 2/3;
		}
	}

	/* .footer__img */
	&__img {
		font-size: 151px;
		color: #222222;

		@media (min-width:$md3+px) {
			margin-top: 20px;
			grid-column: 1/2;
			grid-row: 3/4;
			justify-self: flex-end;
		}

		@media (min-width:$md2+px) {
			margin-top: 0;
			font-size: 250px;
			grid-column: 2/3;
			grid-row: 1/3;

		}
	}
}

//====================================================================================================