@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Inter";
$fontSize: 18;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1570;
$md1: $maxWidthContainer+12;
$md2: 992;
$md3: 768;
$md4: 480;

$mainColor: #fff;
$green: #40A895;
$greenHover: #229681;
$blueBackground: #365C81;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $mainColor;

	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #296299;

	&._loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 20px;

	@media (min-width:$md1+px) {
		padding: 0;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

.dark-mode {
	.wrapper {
		background: #1D1D1D;
	}

	.header {
		background: #272727;
	}

	.button {
		background: #E5E5E5;
		color: #343434;

		&:before {
			color: #343434;
		}

		&:hover {
			background: #CDCDCD;
		}
	}

	.search__input {
		background: #171717;
	}

	.toggleMenu {
		background: #3A3A3A;
	}

	.search__menu {
		background: #3A3A3A;
	}

	.toggleButton {
		background: #3A3A3A;
		color: #fff;
	}

	.toggleButton:before {
		color: #fff;
	}

	.footer__wrapper {
		background: #3A3A3A;
	}

	.footer__img {
		color: #B3B3B3;
	}

	.footer__policy {
		color: #EBEBEB;
	}

	.advantages__img {
		background: #3A3A3A;
	}

	.promo__input {
		background: #272727;
	}

	.about__list li:before {
		background: #677FBD;
	}

	.services__item {
		background: #E5E5E5;
	}

	.services__item:before {
		color: #4D4D4D;
	}

	.services__title:before {
		background: #272727;
	}

	.weAre__title:before {
		background: #272727;
	}

	.guide__wrapper {
		background: #E5E5E5;
		color: #343434;
	}

	.guide__img {
		color: #343434;
	}

	.experts__title:before {
		background: #272727;
	}

	.experts__item {
		background: #E5E5E5;
	}

	.experts__item:before {
		color: #343434;
	}

	.experts__list li {
		color: #343434;
	}

	.experts__list li:before {
		background: #B7B7B7;
	}

	.experts__photo {
		border: 3px solid #2C2C2C;
	}

	.experts__photo:before {
		background: #666666;
		border: 2px solid #2C2C2C;
	}

	.packages__price {
		color: #3A3A3A;
	}

	.packages__btn {
		background: #3A3A3A;
		color: #fff;

		&:hover {
			background: #666666;
		}

		&:active {
			background: #666666;
		}
	}

	.packages__list li:before {
		background: #B7B7B7;
	}

	.simpleMenu__item:after,
	.simpleMenu__item:before {
		background: #404040;
	}

	.reviews__item {
		background: linear-gradient(180deg, #4F5051 0%, rgba(54, 92, 129, 0) 100%);
	}
	.reviews__prev,
	.reviews__next{
		background: #3A3A3A;
	}
	.reviews__title:before{
		background: #272727;
	}
	.popup__form-btn{
		background: #959595;
		color: #fff;
		font-weight: 500;
	}
	.search__menu-nothing svg path{
		fill: #B9C4CA;
		stroke: #B9C4CA;
	}
	.search__menu-nothing span{
		color: #828F96;
	}
}

//===================================================================================================================================
.sticky {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================